target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### IntelliJ IDEA（整体忽略，个人配置不提交） ###
.idea/

### IDE 编译输出 ###
out/

### 日志 ###
logs/
*.log

### 本地敏感配置（含明文默认密码，不提交） ###
anxin-web/src/main/resources/application-dev.yml

### Mac OS ###
.DS_Store